# Dependencies
node_modules/
**/node_modules/

# Frontend build outputs
dist/
**/dist/

# .NET build outputs
bin/
obj/

# Logs and temp files
*.log
*.tmp
*.temp

# IDE
.DS_Store
Thumbs.db

!TipIn Gateway/
!TipIn Gateway/src/
!TipIn Gateway/include/
!TipIn Gateway/lib/
!TipIn Gateway/data/
!TipIn Gateway/test/
!TipIn Gateway/platformio.ini
